:root {
  --primary-color: #357b70;
  --background-color: lightgray;
  --footer-color:#bababa;
  --text-color: #061539;
  --button-color: #489c79;
  --email-button-color: #103795;
  --secondary-email-color: #e0b354;
  --font-size-text: 16px;
  --font-size-h1: 30px;
  --font-size-h2: 24px;
  --font-size-h3: 18px;
  --font-weight-text: 400;
  --font-weight-header: 700;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  font-weight: var(--font-weight-text);
  font-size: var(--font-size-text);
  text-align: center;
  line-height: 1.6;
}

.content {
  max-width: 1000px;
  margin: 50px auto;
  padding: 10px;
}

footer {
    background-color: var(--footer-color);
    width: auto;
    padding: 10px;
}

footer > p {
  position: relative;
  top: -60px;
}

h1 {
  font-weight: 600;
  text-decoration: underline;
}

.pokemon-list {
  list-style-type: none;
  display: block;
  padding-inline-start: 0;
}

.pokeButton {
  border: none;
  width: 100px;
  font-family: inherit;
  background-color: var(--button-color);
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  border-bottom: 3px solid rgba(0, 0, 0, 0.4);
  transition: 0.3s opacity;
}

.pokeButton:hover,
.pokeButton:focus {
  cursor: pointer;
  opacity: 0.7;
}

.email-button {
  border: none;
  text-decoration: none;
  color: var(--email-button-color);
}

.email-button:hover {
  cursor: pointer;
  color: var(--secondary-email-color);
}
